#cabecario {
  background-color: #064116;
  color: #ffffff;
  padding: 20px 0;
}
.header-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-container h1 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.header-container nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.header-container nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.header-container nav a:hover {
  background-color: #ca6702;
}
